$align: center;
$radius: 25px;
$padding: 10px;
body {
    font-family: "Apple Chancery", cursive;
}

html {
    background-color: white;
}

.background-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
p,
.input {
    text-align: $align;
}

.input_text {
    border-radius: 25px;
    text-align: $align;
}

.container {
    margin: auto;
    width: 32%;
    background-color: #6CA6CD;
    padding: $padding;
    padding-top: 50px;
    border-radius: $radius;
}

.input {
    padding: $padding;
}

.submit {
    border-radius: $radius;
}